In [1]:
# Import Dependencies

import sqlalchemy
from sqlalchemy import create_engine
import requests
import pandas as pd
from bs4 import BeautifulSoup as soup
from splinter import Browser

In [2]:
# Set Path To Dataset

browser = Browser('chrome')
url = 'https://www.basketball-reference.com/leagues/NBA_2019_advanced.html'
browser.visit(url)

In [3]:
# Create BS object

html = browser.html
soup_obj = soup(html, 'html.parser')

In [4]:
# Scrape 2018-2019 stats

table = soup_obj.find_all('table', class_='stats_table')
table_df = pd.read_html(str(table))[0]
table_df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Álex Abrines,SG,25,OKC,31,588,6.3,.507,.809,...,NaN,0.1,0.6,0.6,.053,NaN,-3.7,0.4,-3.3,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,.379,.833,...,NaN,-0.1,0.0,-0.1,-0.022,NaN,-7.6,-0.5,-8.1,-0.2
2,3,Jaylen Adams,PG,22,ATL,34,428,7.6,.474,.673,...,NaN,-0.1,0.2,0.1,.011,NaN,-3.8,-0.5,-4.3,-0.2
3,4,Steven Adams,C,25,OKC,80,2669,18.5,.591,.002,...,NaN,5.1,4.0,9.1,.163,NaN,0.7,0.4,1.1,2.1
4,5,Bam Adebayo,C,21,MIA,82,1913,17.9,.623,.031,...,NaN,3.4,3.4,6.8,.171,NaN,-0.4,2.2,1.8,1.8

In [5]:
new_df = table_df[['Player', 'Age', 'Tm', 'MP', 'PER', 'TOV%', 'USG%', 'VORP']]
new_df.head(25)

                    Player  Age   Tm    MP   PER  TOV%  USG%  VORP
0             Álex Abrines   25  OKC   588   6.3   7.9  12.2  -0.2
1               Quincy Acy   28  PHO   123   2.9  15.2   9.2  -0.2
2             Jaylen Adams   22  ATL   428   7.6  19.7  13.5  -0.2
3             Steven Adams   25  OKC  2669  18.5  12.6  16.4   2.1
4              Bam Adebayo   21  MIA  1913  17.9  17.1  15.8   1.8
5                Deng Adel   21  CLE   194   2.7  13.7   9.9  -0.3
6   DeVaughn Akoon-Purcell   25  DEN    22   8.2  15.5  25.0   0.0
7        LaMarcus Aldridge   33  SAS  2687  22.9   8.8  26.9   2.6
8             Rawle Alkins   21  CHI   120   8.1  15.3  19.0  -0.2
9            Grayson Allen   23  UTA   416   7.5  13.9  24.4  -0.5
10           Jarrett Allen   20  BRK  2096  18.5  13.0  15.9   1.9
11            Kadeem Allen   26  NYK   416  16.2  13.6  19.6   0.3
12         Al-Farouq Aminu   28  POR  2292  13.2   9.7  13.7   1.5
13         Justin Anderson   25  ATL   463  11.2  11.8  17.2  -0.1
14           Kyle Anderson   25  MEM  1281  12.8  16.0  12.6   0.9
15           Ryan Anderson   30  TOT   322   4.6  15.5  12.0  -0.4
16           Ryan Anderson   30  PHO   278   4.6  15.4  12.1  -0.3
17           Ryan Anderson   30  MIA    44   4.5  16.8  11.6   0.0
18            Ike Anigbogu   20  IND     6  -6.0  25.0  29.1   0.0
19   Giannis Antetokounmpo   24  MIL  2358  30.9  14.8  32.3   7.4
20    Kostas Antetokounmpo   21  DAL    11  -0.9  17.4  22.5   0.0
21         Carmelo Anthony   34  HOU   294  10.9   5.8  20.5  -0.1
22                  Player  Age   Tm    MP   PER  TOV%  USG%  VORP
23              OG Anunoby   21  TOR  1352   9.8  11.3  15.5  -0.1
24        Ryan Arcidiacono   24  CHI  1961  11.6  12.0  11.7   0.1

In [6]:
nba_df = new_df.drop(new_df[new_df['Player'] == 'Player'].index)
nba_df.head(25)

                    Player Age   Tm    MP   PER  TOV%  USG%  VORP
0             Álex Abrines  25  OKC   588   6.3   7.9  12.2  -0.2
1               Quincy Acy  28  PHO   123   2.9  15.2   9.2  -0.2
2             Jaylen Adams  22  ATL   428   7.6  19.7  13.5  -0.2
3             Steven Adams  25  OKC  2669  18.5  12.6  16.4   2.1
4              Bam Adebayo  21  MIA  1913  17.9  17.1  15.8   1.8
5                Deng Adel  21  CLE   194   2.7  13.7   9.9  -0.3
6   DeVaughn Akoon-Purcell  25  DEN    22   8.2  15.5  25.0   0.0
7        LaMarcus Aldridge  33  SAS  2687  22.9   8.8  26.9   2.6
8             Rawle Alkins  21  CHI   120   8.1  15.3  19.0  -0.2
9            Grayson Allen  23  UTA   416   7.5  13.9  24.4  -0.5
10           Jarrett Allen  20  BRK  2096  18.5  13.0  15.9   1.9
11            Kadeem Allen  26  NYK   416  16.2  13.6  19.6   0.3
12         Al-Farouq Aminu  28  POR  2292  13.2   9.7  13.7   1.5
13         Justin Anderson  25  ATL   463  11.2  11.8  17.2  -0.1
14           Kyle Anderson  25  MEM  1281  12.8  16.0  12.6   0.9
15           Ryan Anderson  30  TOT   322   4.6  15.5  12.0  -0.4
16           Ryan Anderson  30  PHO   278   4.6  15.4  12.1  -0.3
17           Ryan Anderson  30  MIA    44   4.5  16.8  11.6   0.0
18            Ike Anigbogu  20  IND     6  -6.0  25.0  29.1   0.0
19   Giannis Antetokounmpo  24  MIL  2358  30.9  14.8  32.3   7.4
20    Kostas Antetokounmpo  21  DAL    11  -0.9  17.4  22.5   0.0
21         Carmelo Anthony  34  HOU   294  10.9   5.8  20.5  -0.1
23              OG Anunoby  21  TOR  1352   9.8  11.3  15.5  -0.1
24        Ryan Arcidiacono  24  CHI  1961  11.6  12.0  11.7   0.1
25            Trevor Ariza  33  TOT  2349  12.0  11.6  16.6   0.4

In [7]:
new_nba_df = nba_df.drop(nba_df[nba_df['Tm'] == 'TOT'].index)
new_nba_df.head(10)

                   Player Age   Tm    MP   PER  TOV%  USG%  VORP
0            Álex Abrines  25  OKC   588   6.3   7.9  12.2  -0.2
1              Quincy Acy  28  PHO   123   2.9  15.2   9.2  -0.2
2            Jaylen Adams  22  ATL   428   7.6  19.7  13.5  -0.2
3            Steven Adams  25  OKC  2669  18.5  12.6  16.4   2.1
4             Bam Adebayo  21  MIA  1913  17.9  17.1  15.8   1.8
5               Deng Adel  21  CLE   194   2.7  13.7   9.9  -0.3
6  DeVaughn Akoon-Purcell  25  DEN    22   8.2  15.5  25.0   0.0
7       LaMarcus Aldridge  33  SAS  2687  22.9   8.8  26.9   2.6
8            Rawle Alkins  21  CHI   120   8.1  15.3  19.0  -0.2
9           Grayson Allen  23  UTA   416   7.5  13.9  24.4  -0.5

In [8]:
clean_df = new_nba_df.rename(columns={
    'Player': 'name',
    'Age': 'age',
    'Tm': 'team',
    'MP': 'minutes',
    'PER': 'per',
    'TOV%': 'turnover',
    'USG%': 'usg',
    'VORP': 'vorp'
})
clean_df.head(10)

                     name age team minutes   per turnover   usg  vorp
0            Álex Abrines  25  OKC     588   6.3      7.9  12.2  -0.2
1              Quincy Acy  28  PHO     123   2.9     15.2   9.2  -0.2
2            Jaylen Adams  22  ATL     428   7.6     19.7  13.5  -0.2
3            Steven Adams  25  OKC    2669  18.5     12.6  16.4   2.1
4             Bam Adebayo  21  MIA    1913  17.9     17.1  15.8   1.8
5               Deng Adel  21  CLE     194   2.7     13.7   9.9  -0.3
6  DeVaughn Akoon-Purcell  25  DEN      22   8.2     15.5  25.0   0.0
7       LaMarcus Aldridge  33  SAS    2687  22.9      8.8  26.9   2.6
8            Rawle Alkins  21  CHI     120   8.1     15.3  19.0  -0.2
9           Grayson Allen  23  UTA     416   7.5     13.9  24.4  -0.5

In [9]:
# Connect To Postgres

connection_string = f"postgres:Georgia-07@localhost:5432/nba_comp"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

In [10]:
# Insert DF Into Postgres

clean_df.to_sql('nba', con = engine, if_exists = 'append', index=False)

In [11]:
# Cheack Connection From Postgres to Pandas
data = pd.read_sql('SELECT * FROM nba', conn)
data.head(20)

                      name  age team  minutes   per  turnover   usg  vorp
0             Álex Abrines   25  OKC      588   6.3       7.9  12.2  -0.2
1               Quincy Acy   28  PHO      123   2.9      15.2   9.2  -0.2
2             Jaylen Adams   22  ATL      428   7.6      19.7  13.5  -0.2
3             Steven Adams   25  OKC     2669  18.5      12.6  16.4   2.1
4              Bam Adebayo   21  MIA     1913  17.9      17.1  15.8   1.8
5                Deng Adel   21  CLE      194   2.7      13.7   9.9  -0.3
6   DeVaughn Akoon-Purcell   25  DEN       22   8.2      15.5  25.0   0.0
7        LaMarcus Aldridge   33  SAS     2687  22.9       8.8  26.9   2.6
8             Rawle Alkins   21  CHI      120   8.1      15.3  19.0  -0.2
9            Grayson Allen   23  UTA      416   7.5      13.9  24.4  -0.5
10           Jarrett Allen   20  BRK     2096  18.5      13.0  15.9   1.9
11            Kadeem Allen   26  NYK      416  16.2      13.6  19.6   0.3
12         Al-Farouq Aminu   28  POR     2292  13.2       9.7  13.7   1.5
13         Justin Anderson   25  ATL      463  11.2      11.8  17.2  -0.1
14           Kyle Anderson   25  MEM     1281  12.8      16.0  12.6   0.9
15           Ryan Anderson   30  PHO      278   4.6      15.4  12.1  -0.3
16           Ryan Anderson   30  MIA       44   4.5      16.8  11.6   0.0
17            Ike Anigbogu   20  IND        6  -6.0      25.0  29.1   0.0
18   Giannis Antetokounmpo   24  MIL     2358  30.9      14.8  32.3   7.4
19    Kostas Antetokounmpo   21  DAL       11  -0.9      17.4  22.5   0.0